* {
	margin: 0 auto;
	padding: 0 auto;
}
.no-margin {
	margin-top: 0;
	margin-bottom: 0;
}
.background-photo1 {
	background-image: url(../images/uno.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 35em;
	filter: grayscale(100%);
}
.about-pandas, .pictures {
	margin-top: 0;
	margin-bottom: 0;
	border-top: 20px solid #ff9e80;
	border-bottom: 20px solid #ff9e80; 
	padding: 3% 30%;	
}
.background-photo2 {
	background-image: url(../images/dos.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 35em;
	filter: grayscale(100%);
}
.photos {
	border: 5px solid #fff;
}
.background-photo3 {
	background-image: url(../images/tres.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 35em;
	filter: grayscale(100%);
}
